.burger-list {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.burger-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: center;
  grid-gap: 20px;
}
