@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: "Yusei Magic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
